<form name="f" class="form-inline">
    <label>Name</label><br>
    <input type="text" class="form-control" ng-model="m.name" required><br>
    <label>Director</label><br>
    <input type="text" class="form-control" ng-model="m.director" required><br>
    <div class="form-group" ng-class="{'has-error': (f.year.$invalid && f.year.$dirty)}">
        <label class="control-label">Year</label><br>
        <input type="text" class="form-control" name="year" ng-model="m.year" ng-pattern="/^\d+$/" required>
        <div ng-show="f.year.$invalid && f.year.$dirty">
            Must be integer.
        </div></div><br>
    <label>Description</label><br>
    <input type="text" class="form-control" ng-model="m.description" required><br>
    All fields required
    <button class="btn btn-default" ng-click="formAction()" ng-disabled="f.$invalid">{{action}}</button>
</form>